.App {
  text-align: center;
}

.card {
  width: 100%;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .product-card img {
    height: 200px;
  }

  .navbar .logo {
    font-size: 20px;
  }

  .footer h2 {
    font-size: 18px;
  }
}


